In [49]:
import pandas as pd

In [65]:
df=pd.read_json(r'data.json')

In [66]:
df

                                                    href          phone_number
0      [/elan/satilir-2-otaqli-bina-evi-menzil-xirdal...  /tel-show/0553007525
1      [/elan/satilir-2-otaqli-bina-evi-menzil-xirdal...  /tel-show/0703007525
2      [/elan/satilir-2-otaqli-bina-evi-menzil-bineqe...  /tel-show/0702180020
3      [/elan/satilir-3-otaqli-bina-evi-menzil-nizami...  /tel-show/0558191841
4      [/elan/satilir-2-otaqli-bina-evi-menzil-yasama...  /tel-show/0703491707
...                                                  ...                   ...
21352  [/elan/satilir-2-otaqli-bina-evi-menzil-4-cu-m...  /tel-show/0503276021
21353  [/elan/satilir-2-otaqli-bina-evi-menzil-4-cu-m...  /tel-show/0552276021
21354  [/elan/satilir-3-otaqli-bina-evi-menzil-nerima...  /tel-show/0502093670
21355  [/elan/satilir-3-otaqli-bina-evi-menzil-nesimi...  /tel-show/0502093743
21356  [/elan/satilir-3-otaqli-bina-evi-menzil-xetai-...  /tel-show/0704476999

[21357 rows x 2 columns]

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21357 entries, 0 to 21356
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   href          21357 non-null  object
 1   phone_number  21357 non-null  object
dtypes: object(2)
memory usage: 333.8+ KB

In [71]:
df.to_excel('data.xlsx', index=False)